@page "/application"

@using System.ComponentModel.DataAnnotations
@using BlazorFlow.Helpers
@using BlazorFlow.Models
@using BlazorFlow.Services
@using BlazorFlow.Shared.Components

@inject NavigationManager NavigationManager
@inject FlowService FlowService

<h1>Flow</h1>

@if (CurrentNode is null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="@PageModel" OnValidSubmit="Next">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div id="question">
        <p>@CurrentNode.FlowQuestion.FlowQuestionTextEn</p>
    </div>

    <div id="answer">
        @if (CurrentNode.FlowNodeType == FlowNodeType.Radio)
        {
            if (CurrentNode.FlowAnswers is {} flowAnswers)
            {
                @foreach (var answer in flowAnswers)
                {
                    <label class="radio-answer">
                        <InputRadio name="radio" SelectedValue="answer.FlowAnswerValue" @bind-Value="PageModel.StringValue" />
                        @answer.FlowAnswerTextEn
                    </label>
                }
            }
        }
        else if (CurrentNodeType == FlowNodeType.Select)
        {
            if (CurrentNode.FlowAnswers is {} flowAnswers)
            {
                <InputSelect @bind-Value="PageModel.StringValue">
                    <option value="">Select...</option>
                    @foreach (var answer in flowAnswers)
                    {
                        <option value="@answer.FlowAnswerValue">@answer.FlowAnswerTextEn</option>
                    }
                </InputSelect>
            }
            else if (CurrentNode.FlowNodeEntity is {} flowNodeEntity && PageModel.LookupValues is {} lookup)
            {
                <InputSelect @bind-Value="PageModel.StringValue">
                    <option value="">Select...</option>
                    @foreach (var value in lookup)
                    {
                        <option value="@value.Key">@value.Value</option>
                    }
                </InputSelect>
            }
        }
        else if (CurrentNode.FlowNodeType == FlowNodeType.Number)
        {
            <InputNumber @bind-Value="PageModel.NumberValue" />
        }
        else if (CurrentNode.FlowNodeType == FlowNodeType.Checkbox)
        {
            if (CurrentNode.FlowAnswers is {} flowAnswers)
            {
                @foreach (var answer in flowAnswers)
                {
                    <label class="checkbox-answer">
                        <input type="checkbox" name="checkbox" checked="@CheckboxIsChecked(answer.FlowAnswerValue)" @onchange="@((e) => CheckboxChanged(answer.FlowAnswerValue, e))" />
                        @answer.FlowAnswerTextEn
                    </label>
                }
            }
        }
        else if (CurrentNodeType == FlowNodeType.DateTime)
        {
            <InputDate @bind-Value="PageModel.DateTimeValue" />
        }
        else if (CurrentNodeType == FlowNodeType.Text)
        {
            <InputText @bind-Value="PageModel.StringValue" />
        }
        else if (CurrentNodeType == FlowNodeType.TextArea)
        {
            <InputTextArea @bind-Value="PageModel.StringValue" />
        }
    </div>

    <div id="navigation" class="row">
        <button class="btn btn-primary" @onclick="Previous" disabled="@isFirstNode">Previous</button>
        <button class="btn btn-primary" type="submit">Next</button>
    </div>
</EditForm>
}

@code {
    Flow CurrentFlow = null!;
    FlowNode? CurrentNode;
    FlowNodeType? CurrentNodeType => CurrentNode?.FlowNodeType;
    FlowNodeEntity? CurrentNodeEntity => CurrentNode?.FlowNodeEntity;
    FlowLink[]? CurrentLinks => CurrentFlow.OutEdges(CurrentNode!).ToArray();

    UserFlow CurrentUserFlow = null!;
    LinkedListNode<UserFlowAnswer>? CurrentUserFlowAnswer;

    bool isFirstNode => CurrentFlow.Edges.All(l => l.Target != CurrentNode);
    bool isLastNode => CurrentFlow.IsOutEdgesEmpty(CurrentNode!);

    Model PageModel = new Model();

    protected override async Task OnInitializedAsync()
    {
        CurrentFlow = await FlowService.GetFlow(1);
        CurrentNode = CurrentFlow.Vertices.First(x => x.FlowQuestion.FlowQuestionCode == "START"); // To use algorithm instead of hard coding
        CurrentUserFlow = new UserFlow();
        SetModel();
    }

    void Next()
    {
        SaveAnswer();
        var appointedLink = EvaluateLinks();
        // if no links, we're at the end
        // NavigationManager.NavigateTo("/");
        CurrentNode = appointedLink.Target;
        SetModel();
    }

    void Previous()
    {
        // User has answered this question before, so there should be an answer that targets this node
        var prevUserFlowAnswerId = CurrentUserFlow.UserFlowAnswers.Nodes().FirstOrDefault(ufa => ufa.Next?.Value.FlowNodeId == CurrentNode?.FlowNodeId)?.Value.FlowNodeId;
        // User hasn't answered this question yet, therefore the previous answer target is still null, so use the last answer that isn't stale
        prevUserFlowAnswerId ??= CurrentUserFlow.UserFlowAnswers.Nodes().Where(ufa => ufa.Value.IsStale == false).Last().Value.FlowNodeId;

        CurrentNode = CurrentFlow.Vertices.First(n => n.FlowNodeId == prevUserFlowAnswerId);
        SetModel();
        StateHasChanged();
    }

    bool CheckboxIsChecked(string flowAnswerValue)
    {
        return PageModel.CheckboxValues?.Contains(flowAnswerValue) ?? false;
    }

    // To be improved
    void CheckboxChanged(string checkboxValue, ChangeEventArgs e)
    {
        PageModel.CheckboxValues ??= new HashSet<string>();
        var isChecked = (bool)e.Value;

        if (isChecked && !PageModel.CheckboxValues.Contains(checkboxValue))
        {
            PageModel.CheckboxValues.Add(checkboxValue);
        }
        else if (!isChecked && PageModel.CheckboxValues.Contains(checkboxValue))
        {
            PageModel.CheckboxValues.Remove(checkboxValue);
        }
    }

    void SaveAnswer()
    {
        // To be improved
        string[] newAnswerValue() => CurrentNodeType switch
        {
            FlowNodeType.Radio => new string[] { PageModel.StringValue! },
            FlowNodeType.Select => new string[] { PageModel.StringValue! },
            FlowNodeType.Number => new string[] { PageModel.NumberValue.ToString()! },
            FlowNodeType.Checkbox => PageModel.CheckboxValues.ToArray(),
            FlowNodeType.DateTime => new string[] { PageModel.DateTimeValue.ToString()! },
            FlowNodeType.Text => new string[] { PageModel.StringValue! },
            FlowNodeType.TextArea => new string[] { PageModel.StringValue! },
            _ => new string[0]
        };

        if (CurrentUserFlowAnswer is {} existing)
        {
            if (existing.Value.UserFlowAnswerValue != newAnswerValue())
            {
                CurrentUserFlowAnswer.Value.UserFlowAnswerValue = newAnswerValue();
                CurrentUserFlowAnswer.Value.IsStale = false;
            }

            // Set all subsequent userFlowAnswers as stale
            var nextUserFlowAnswer = CurrentUserFlowAnswer.Next;

            while (nextUserFlowAnswer is {} alsoExisting)
            {
                nextUserFlowAnswer.Value.IsStale = true;
                nextUserFlowAnswer = nextUserFlowAnswer.Next;
            }
        }
        else
        {
            CurrentUserFlowAnswer = new LinkedListNode<UserFlowAnswer>(new UserFlowAnswer(CurrentNode!.FlowNodeId, newAnswerValue()));

            if (CurrentUserFlow.UserFlowAnswers.Any())
            {
                var lastUserFlowAnswer = CurrentUserFlow.UserFlowAnswers.Last!;
                CurrentUserFlow.UserFlowAnswers.AddAfter(lastUserFlowAnswer, CurrentUserFlowAnswer);
            }
            else
            {
                CurrentUserFlow.UserFlowAnswers.AddFirst(CurrentUserFlowAnswer);
            }
        }
    }

    FlowLink EvaluateLinks()
    {
        if (CurrentLinks?.Length == 0)
        {
            throw new NotImplementedException();
        }
        else if (CurrentLinks?.Length == 1)
        {
            return CurrentLinks.First();
        }
        else
        {
            var availableLinks = new List<FlowLink>();

            // To be improved; no condition means automatic pass
            foreach (var link in CurrentLinks!)
            {
                if (CurrentNodeType == FlowNodeType.Radio || CurrentNodeType == FlowNodeType.Select)
                {
                    if (link.FlowCondition?.Evaluate(PageModel.StringValue) ?? true)
                    {
                        availableLinks.Add(link);
                    }
                }
                else if (CurrentNodeType == FlowNodeType.Number)
                {
                    if (link.FlowCondition?.Evaluate(PageModel.NumberValue) ?? true)
                    {
                        availableLinks.Add(link);
                    }
                }
                else if (CurrentNodeType == FlowNodeType.Checkbox)
                {
                    if (link.FlowCondition?.Evaluate(PageModel.CheckboxValues) ?? true)
                    {
                        availableLinks.Add(link);
                    }
                }
                else if (CurrentNodeType == FlowNodeType.DateTime)
                {
                    if (link.FlowCondition?.Evaluate(PageModel.DateTimeValue) ?? true)
                    {
                        availableLinks.Add(link);
                    }
                }
            }

            if (availableLinks.Count > 1)
            {
                // Go to link with condition since no condition is catch-all
                return availableLinks.First(l => l.FlowCondition != null);
            }
            else
            {
                return availableLinks.First();
            }
        }
    }

    // To be improved
    void SetModel()
    {
        if (CurrentNodeEntity is {} entity && entity != FlowNodeEntity.None)
        {
            PageModel.LookupValues = LookupService.GetLookup(entity);
        }
        else
        {
            PageModel.LookupValues?.Clear();
        }

        CurrentUserFlowAnswer = CurrentUserFlow.UserFlowAnswers.Nodes().FirstOrDefault(x => x.Value.FlowNodeId == CurrentNode!.FlowNodeId);

        if (CurrentUserFlowAnswer is { Value: var userFlowAnswer } existing)
        {
            if (CurrentNodeType == FlowNodeType.Radio || CurrentNodeType == FlowNodeType.Select)
            {
                PageModel.StringValue = userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault() ?? string.Empty;
            }
            else if (CurrentNodeType == FlowNodeType.Number)
            {
                var parsed = Decimal.TryParse(userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault(), out var result);

                if (parsed)
                {
                    PageModel.NumberValue = result;
                }
            }
            else if (CurrentNodeType == FlowNodeType.Checkbox)
            {
                var hashSet = new HashSet<string>(userFlowAnswer.UserFlowAnswerValue!);
                PageModel.CheckboxValues = hashSet;
            }
            else if (CurrentNodeType == FlowNodeType.DateTime)
            {
                var parsed = DateTime.TryParse(userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault(), out var result);

                if (parsed)
                {
                    PageModel.DateTimeValue = result;
                }
            }
            else if (CurrentNodeType == FlowNodeType.Text || CurrentNodeType == FlowNodeType.TextArea)
            {
                PageModel.StringValue = userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault() ?? string.Empty;
            }
        }
        else
        {
            PageModel.StringValue = string.Empty;
            PageModel.NumberValue = default(decimal);
            PageModel.CheckboxValues?.Clear();
            PageModel.DateTimeValue = default(DateTime);
        }
    }

    // To add validation
    public class Model
    {
        public string? StringValue { get; set; }

        public decimal? NumberValue { get; set; }

        public HashSet<string>? CheckboxValues { get; set; }

        // Nullable DateTimes not supported; broken in Safari
        public DateTime DateTimeValue { get; set; }

        public Dictionary<string, string>? LookupValues { get; set; }
    }
}

<style>
    button {
        margin-left: 0.5em;
    }

    input, textarea, select {
        margin-bottom: 1em;
    }

    .radio-answer, .checkbox-answer {
        display: block;
    }
</style>
