@page "/application"

@using BlazorFlow.Data
@using BlazorFlow.Helpers
@using BlazorFlow.Shared.Components

@inject NavigationManager NavigationManager
@inject FlowService FlowService

<h1>Flow</h1>

@if (CurrentNode is null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="@PageModel">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div id="question">
        <p>@CurrentNode.FlowQuestion.FlowQuestionTextEn</p>
    </div>

    <div id="answer">
        @if (CurrentNode.FlowNodeType == FlowNodeType.radio)
        {
            if (CurrentNode.FlowAnswers is { } flowAnswers)
            {
                @foreach (var answer in flowAnswers)
                {
                    <label class="radio-answer">
                        <InputRadio name="radio" SelectedValue="answer.FlowAnswerValue" @bind-Value="PageModel.StringValue" />
                        @answer.FlowAnswerTextEn
                    </label>
                }
            }
        }
        else if (CurrentNodeType == FlowNodeType.select) {
            if (CurrentNode.FlowAnswers is { } flowAnswers) {
                <InputSelect @bind-Value="PageModel.StringValue">
                    <option value="">Select...</option>
                    @foreach (var answer in flowAnswers) {
                        <option value="@answer.FlowAnswerValue">@answer.FlowAnswerTextEn</option>
                    }
                </InputSelect>
            }
        }
        else if (CurrentNode.FlowNodeType == FlowNodeType.number)
        {
            <InputNumber @bind-Value="PageModel.NumberValue" />
        }
        else if (CurrentNode.FlowNodeType == FlowNodeType.checkbox)
        {
            if (CurrentNode.FlowAnswers is { } flowAnswers)
            {
                @foreach (var answer in flowAnswers)
                {
                    <label class="checkbox-answer">
                        <input type="checkbox" name="checkbox" checked="@CheckboxIsChecked(answer.FlowAnswerValue)" @onchange="@((e) => CheckboxChanged(answer.FlowAnswerValue, e))" />
                        @answer.FlowAnswerTextEn
                    </label>
                }
            }
        }
        else if (CurrentNodeType == FlowNodeType.datetime) {
            <InputDate @bind-Value="PageModel.DateTimeValue" />
        }
        else if (CurrentNodeType == FlowNodeType.text) {
            <InputText @bind-Value="PageModel.StringValue" />
        }
        else if (CurrentNodeType == FlowNodeType.textarea) {
            <InputTextArea @bind-Value="PageModel.StringValue" />
        }
    </div>
</EditForm>

<div id="navigation" class="row">
    <button class="btn btn-primary" @onclick="Previous" disabled="@isFirstNode">Previous</button>

    @if (CurrentLinks?.Length == 0)
    {
        <button class="btn btn-primary" @onclick="Submit">Submit</button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="Next">Next</button>
    }
</div>
}

@code {
    Flow CurrentFlow = null!;
    FlowNode? CurrentNode;
    FlowNodeType? CurrentNodeType => CurrentNode?.FlowNodeType;
    FlowLink[]? CurrentLinks => CurrentFlow.OutEdges(CurrentNode!).ToArray();

    UserFlow CurrentUserFlow = null!;
    LinkedListNode<UserFlowAnswer>? CurrentUserFlowAnswer;

    bool isFirstNode => CurrentFlow.Edges.All(l => l.Target != CurrentNode);
    bool isLastNode => CurrentFlow.IsOutEdgesEmpty(CurrentNode!);

    Model PageModel = new Model();

    protected override async Task OnInitializedAsync()
    {
        var flowVersion = 1;
        CurrentFlow = await FlowService.GetFlow(flowVersion);
        CurrentNode = CurrentFlow.Vertices.First(x => x.FlowQuestion.FlowQuestionCode == "START"); // To use algorithm instead of hard coding
        CurrentUserFlow = new UserFlow(flowVersion, 1);
        SetModel();
    }

    void Next()
    {
        SaveAnswer();
        var appointedLink = EvaluateLinks();
        CurrentNode = appointedLink.Target;
        SetModel();
    }

    void Previous()
    {
        // User has answered this question before, so there should be an answer that targets this node
        var prevUserFlowAnswerId = CurrentUserFlow.UserFlowAnswers.Nodes().FirstOrDefault(ufa => ufa.Next?.Value.FlowNodeId == CurrentNode?.FlowNodeId)?.Value.FlowNodeId;
        // User hasn't answered this question yet, therefore the previous answer target is still null, so use the last answer that isn't stale
        prevUserFlowAnswerId ??= CurrentUserFlow.UserFlowAnswers.Nodes().Where(ufa => ufa.Value.isStale == false).Last().Value.FlowNodeId;

        CurrentNode = CurrentFlow.Vertices.First(n => n.FlowNodeId == prevUserFlowAnswerId);
        SetModel();
    }

    void Submit()
    {
        NavigationManager.NavigateTo("/");
    }

    bool CheckboxIsChecked(string flowAnswerValue) {
        return PageModel.CheckboxValues?.Contains(flowAnswerValue) ?? false;
    }

    // To be improved
    void CheckboxChanged(string checkboxValue, ChangeEventArgs e) {
        PageModel.CheckboxValues ??= new HashSet<string>();
        var isChecked = (bool)e.Value;

        if (isChecked && !PageModel.CheckboxValues.Contains(checkboxValue)) {
            PageModel.CheckboxValues.Add(checkboxValue);
        }
        else if (!isChecked && PageModel.CheckboxValues.Contains(checkboxValue)) {
            PageModel.CheckboxValues.Remove(checkboxValue);
        }
    }

    void SaveAnswer()
    {
        // To be improved
        string[] newAnswerValue() => CurrentNodeType switch
        {
            FlowNodeType.radio => new string[] { PageModel.StringValue! },
            FlowNodeType.select => new string[] { PageModel.StringValue! },
            FlowNodeType.number => new string[] { PageModel.NumberValue.ToString()! },
            FlowNodeType.checkbox => PageModel.CheckboxValues.ToArray(),
            FlowNodeType.datetime => new string[] { PageModel.DateTimeValue.ToString()! },
            FlowNodeType.text => new string[] { PageModel.StringValue! },
            FlowNodeType.textarea => new string[] { PageModel.StringValue! },
            _ => new string[0]
        };

        if (CurrentUserFlowAnswer is {} existing)
        {
            if (existing.Value.UserFlowAnswerValue != newAnswerValue()) {
                CurrentUserFlowAnswer.Value.UserFlowAnswerValue = newAnswerValue();
                CurrentUserFlowAnswer.Value.isStale = false;
            }

            // Set all subsequent userFlowAnswers as stale
            var nextUserFlowAnswer = CurrentUserFlowAnswer.Next;

            while (nextUserFlowAnswer is {} alsoExisting) {
                nextUserFlowAnswer.Value.isStale = true;
                nextUserFlowAnswer = nextUserFlowAnswer.Next;
            }
        }
        else
        {
            CurrentUserFlowAnswer = new LinkedListNode<UserFlowAnswer>(new UserFlowAnswer(CurrentNode!.FlowNodeId, newAnswerValue()));

            if (CurrentUserFlow.UserFlowAnswers.Any()) {
                var lastUserFlowAnswer = CurrentUserFlow.UserFlowAnswers.Last!;
                CurrentUserFlow.UserFlowAnswers.AddAfter(lastUserFlowAnswer, CurrentUserFlowAnswer);
            }
            else {
                CurrentUserFlow.UserFlowAnswers.AddFirst(CurrentUserFlowAnswer);
            }
        }
    }

    FlowLink EvaluateLinks()
    {
        if (CurrentLinks?.Length == 0) {
            throw new NotImplementedException();
        }
        else if (CurrentLinks?.Length == 1)
        {
            return CurrentLinks.First();
        }
        else
        {
            var availableLinks = new List<FlowLink>();

            // To be improved; no condition means automatic pass
            foreach (var link in CurrentLinks!) {
                if (CurrentNodeType == FlowNodeType.radio || CurrentNodeType == FlowNodeType.select) {
                    if (link.FlowCondition?.Evaluate(PageModel.StringValue) ?? true) {
                        availableLinks.Add(link);
                    }
                }
                else if (CurrentNodeType == FlowNodeType.number) {
                    if (link.FlowCondition?.Evaluate(PageModel.NumberValue) ?? true) {
                        availableLinks.Add(link);
                    }
                }
                else if (CurrentNodeType == FlowNodeType.checkbox) {
                    if (link.FlowCondition?.Evaluate(PageModel.CheckboxValues) ?? true) {
                        availableLinks.Add(link);
                    }
                }
                else if (CurrentNodeType == FlowNodeType.datetime) {
                    if (link.FlowCondition?.Evaluate(PageModel.DateTimeValue) ?? true) {
                        availableLinks.Add(link);
                    }
                }
            }

            if (availableLinks.Count > 1) {
                // Go to link with condition since no condition is catch-all
                return availableLinks.First(l => l.FlowCondition != null);
            }
            else {
                return availableLinks.First();
            }
        }
    }

    // To be improved
    void SetModel() {
        CurrentUserFlowAnswer = CurrentUserFlow.UserFlowAnswers.Nodes().FirstOrDefault(x => x.Value.FlowNodeId == CurrentNode!.FlowNodeId);

        if (CurrentUserFlowAnswer is { Value: var userFlowAnswer } existing) {
            if (CurrentNodeType == FlowNodeType.radio || CurrentNodeType == FlowNodeType.select) {
                PageModel.StringValue = userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault() ?? string.Empty;
            }
            else if (CurrentNodeType == FlowNodeType.number) {
                var parsed = Decimal.TryParse(userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault(), out var result);

                if (parsed) {
                    PageModel.NumberValue = result;
                }
            }
            else if (CurrentNodeType == FlowNodeType.checkbox) {
                var hashSet = new HashSet<string>(userFlowAnswer.UserFlowAnswerValue!);
                PageModel.CheckboxValues = hashSet;
            }
            else if (CurrentNodeType == FlowNodeType.datetime) {
                var parsed = DateTime.TryParse(userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault(), out var result);

                if (parsed) {
                    PageModel.DateTimeValue = result;
                }
            }
            else if (CurrentNodeType == FlowNodeType.text || CurrentNodeType == FlowNodeType.textarea) {
                PageModel.StringValue = userFlowAnswer?.UserFlowAnswerValue?.FirstOrDefault() ?? string.Empty;
            }
        }
        else {
            ClearModel();
        }
    }

    void ClearModel() {
        PageModel.StringValue = string.Empty;
        PageModel.NumberValue = default(decimal);
        PageModel.CheckboxValues?.Clear();
        PageModel.DateTimeValue = default(DateTime);
    }

    // To add validation
    public class Model
    {
        public string? StringValue { get; set; }

        public decimal? NumberValue { get; set; }

        public HashSet<string>? CheckboxValues { get;set; }

        // Nullable DateTimes not supported; broken in Safari
        public DateTime DateTimeValue { get;set; }
    }
}

<style>
    button {
        margin: 0.15em;
    }

    #step {
        min-height: 120px;
    }

    .radio-answer, .checkbox-answer {
        display: block;
    }
</style>
